<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <p>The date is <%=DateTime.strftime('%A, %B %-d, %Y')%></p>
    The date is Wednedsay, November 18, 2015
  </body>
</html>
<%# %A%B%-d%Y
